---
import { getCollection } from 'astro:content'
import type { CollectionEntry } from 'astro:content'
import { SiteMetadata } from '../config'
import Base from '../layouts/base.astro'
import Hero from '../components/hero.astro'
import Features from '../components/features.astro'
import FindOutMore from '../components/findoutmore.astro'
import LatestArticles from '../components/latestarticles.astro'
import CTA from '../components/cta.astro'
import coverSVG from '../assets/svg/undraw/undraw_design_inspiration.svg'
import socialImage from '../assets/undraw/undraw_design_inspiration.png'

import {SignIn, SignOut} from "auth-astro/components"; 
import {getSession} from "auth-astro/server"; 

const session = await getSession(Astro.request);
console.log(session);

const frontmatter: CollectionEntry<'page'>['data'] = {
  title: SiteMetadata.title,
  description: SiteMetadata.description,
  coverSVG: coverSVG,
  socialImage: socialImage
}

const posts = await getCollection('blog', ({ data }) => {
  return data.draft !== true
})
const latestPosts = posts.sort((a, b) => +b.data.publishDate - +a.data.publishDate)
---

<Base frontmatter={frontmatter}>
  <Hero />
  <section class="p-5 flex justify-center">

    {session ? <SignOut class='bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow'>Sign out</SignOut> : <SignIn class='bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow' provider="google">Sign in</SignIn>}
    
  </section>
  <Features />
  <FindOutMore />
  <LatestArticles posts={latestPosts} />
  <CTA />
  <div class='bg-white p-24 dark:bg-black md:p-12'></div>
</Base>
